body{
    font-family: Trebuchet MS, sans-serif;
    background-image: linear-gradient(to right, #641fad, #2b14b3);
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}
.c1{
    width: 200px;
    height: 250px;
    background-color:  #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    padding-top: 5px;
    padding-left: 30px;
    display: block;
}

.btn input[type=submit] {
    margin-top: 15px;
    margin-left: 13%;
    background-color: green;
    width: 130px;
    border-radius: 5px;
    color: white;
}